/functionality/__pycache__
/data/models
/build
/__pycache__
/dist
main.spec
tekst.txt
functionality/__pycache__/Face.cpython-38.pyc
functionality/__pycache__/functions.cpython-38.pyc
config/__pycache__/config.cpython-38.pyc
